div#lightbox

div#header.unselectable
    div#left.section
        div#logo
        div.breaker
        div#friends.nav-button.pressed
        div.breaker
        div#btn-new-partner.button.white New Partner
        div#btn-end-chat.button.white.hidden End Chat
        span.spam-report.hidden Report as spam

    div.nav-dropdown#friends-dropper
        h2 Random Partner
        hr
        ul
        p.empty-message When you're chatting to someone random, they will appear here!
        h2 Friends
        hr
        ul
        p.empty-message You're friends list is empty.
    
    div#right.section
        div#mini-profile-pic
            
        span Signed in as 
            strong #{currentUser.first_name}
        div.breaker
        span#users-online(style="margin-left: 10px") 
            strong #{online}
            |  people online
        div.breaker
        div#settings.nav-button

    div.nav-dropdown#settings-dropper.hidden
        ul
            strong
                li 
                    input(type="checkbox", checked="true", id="checkbox-sounds") 
                    | Chat sounds
                li Options
                li Feedback
                a(href="/logout")
                    li Logout

div#main
    div#jplayer-pop
    div#jplayer-easteregg
    div#message-update.large-messages
        h2 Loading, just a moment...
        br
        img(src='/images/loading_fb.gif', alt='Searching...')

    div#message-initial.large-messages.hidden
        h2 Hi #{currentUser.first_name}. Welcome to Babbler!
        br
        h2 Click 'New Partner' to get started. 

    div#chat-sessions-container

    script(id="template-chat-session", type="text/x-mustache").

        <div id="partner-identity">
            <div id="img-container">
                <img id="picture" src="{{pic_large_url}}" alt="Partner Profile Picture" />
            </div>
            <span id="partner-name">You're chatting to {{first_name}}!</span>
        </div>

        <div id="chat-area-wrapper">
            <div id="chat-area">
                <div id="conversation-wrapper">
                    <div id="conversation">
                        <div class="message-spacer.no-border"></div>
                        <div id="conversation-actual"></div>
                        <div id="partner-typing" >
                            <div id="is-typing" style="display: none">
                                <div id="partner-typing-img"></div>
                                <span>{{first_name}} is typing...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <textarea id="text"></textarea>
            </div>
        </div>

    script(id="template-chat-message", type="text/x-mustache").
    
        <div class="message-spacer"></div>
        <div class="message-group">
            <img src="{{picture}}" alt="">
            <div class="messages">
                <div class="message-single">{{body}}</div>
            </div>
        </div>
    
    script(id="template-friends-list", type="tex/x-mustache").

        <div class="left">
            <img src="{{picture}}" style="height: 44px; width: 44px" />
        </div>
        <div class="left">
            <p class="remove">Remove</p>
            <p class="name">{{first_name}}</p>
            <p class="message">{{body}}</p>
            <p class="date">{{date}}</p>
        </div>
    
    div#footer-container
        div#footer