div#fb-root
script(type = "text/javascript")
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=273284762734006";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

script(type="text/javascript", src="https://apis.google.com/js/plusone.js")
  {lang: 'en-GB'}

div#lightbox
div#lightbox-container
    div#lightbox-window
        h2 Remove Friend
        hr
        p Are you sure you want to remove this user from your friends? This cannot be undone.
        div.button.grey#lb-continue Continue
        div.button.grey#lb-close Close

div#header.unselectable
    div#left.section
        div#logo
        div.breaker
        div#btn-new-partner.button.white New Partner
        span.spam-report.hidden Report as spam
    
    div#right.section
        div#mini-profile-pic
            
        span Signed in as 
            strong #{currentUser.first_name}
        div.breaker
        span#users-online(style="margin-left: 10px") 
            strong #{online}
            |  people online
        div.breaker
        div#settings.nav-button

    div.nav-dropdown#settings-dropper.hidden
        ul
            strong
                li 
                    input(type="checkbox", checked="true", id="checkbox-sounds") 
                    | Chat sounds
                li Display picture
                li Help
                a(href="/logout")
                    li Logout

div#sidebar
    div#social-buttons
        div.social-button
            div.fb-like(data-send="false", data-layout="button_count", data-width="80", data-show-faces="false", data-font="arial")
        div.social-button
            a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://www.babblerchat.com")
        div.social-button
            div.g-plusone(data-size="medium", data-href="http://www.babblerchat.com")

    h2 Random Partner
    hr
    ul
    p.empty-message When you're chatting to someone random, they will appear here!
    h2 Friends
    hr
    ul
    p.empty-message There are no friends.

div#main

    div#jplayer-pop
    div#jplayer-easteregg
    div#message-update.large-messages
        h2 Loading, just a moment...
        br
        img(src='/images/loading_fb.gif', alt='Searching...')

    div#message-initial.large-messages.hidden
        h2 Hi #{currentUser.first_name}. Welcome to Babbler!
        br
        h2 Click 'New Partner' to get started. 

    div#chat-sessions-container

    script(id="template-chat-session", type="text/x-mustache").
    
        <div class="chat-session-wrapper">
            <div id="partner-identity">
                <div id="img-container">
                    <img id="picture" src="{{pic_large_url}}" />
                </div>
                <span>{{first_name}}</span>
                <span class="location">Leicester, UK</span>
            </div>

            <div id="chat-area-wrapper">
                <div id="chat-area">
                    <div id="conversation-wrapper">
                        <div id="conversation">
                            <div class="message-spacer.no-border"></div>
                            <div id="conversation-actual"></div>
                            <div id="partner-typing" >
                                <div id="is-typing" style="display: none">
                                    <div id="partner-typing-img"></div>
                                    <span>{{first_name}} is typing...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea id="text"></textarea>
                </div>
            </div>
        </div>

    script(id="template-chat-message", type="text/x-mustache").
    
        <div class="message-spacer"></div>
        <div class="message-group">
            <img src="{{picture}}" alt="">
            <div class="messages">
                <div class="message-single">{{body}}</div>
            </div>
        </div>
    
    script(id="template-friends-list", type="tex/x-mustache").

        <div class="left">
        <img src="{{picture}}" style="height: 46px; width: 46px">
        <div class="new-message-popper" style="display:none">0</div>
        </div>
        <div class="left">
            <p class="remove">Remove</p>
            <table>
                <tr><td><p class="name">{{first_name}}</p><div class="typing" style="display: none"></div></td></tr>
                <tr><td><p class="message">{{body}}</p></td></tr>
                <tr><td><p class="date">{{date}}</p></td></tr>
            </table>
        </div>
    
    div#footer-container
        div#footer