div#fb-root
script(type = "text/javascript", src="/js/lib/social-buttons.js?ver=1")

script(type="text/javascript", src="https://apis.google.com/js/plusone.js")
  {lang: 'en-GB'}

div.lightbox
div#friend-lightbox-container.lightbox-container
    div.lightbox-window
        h2 Remove Friend
        hr
        p Are you sure you want to remove this user from your friends? This cannot be undone.
        div.button.grey#lb-continue Continue
        div.button.grey#lb-close Close

div.nugget-wrapper  
    div#disconnect-nugget
    p The connection was lost, reconnecting...


div#header.unselectable
    div#left.section
        div#logo
        div.breaker
        div#btn-new-partner.button.white New Partner
        span.spam-report.hidden Report as spam
    
    div#right.section
        div#mini-profile-pic
            
        span Signed in as 
            strong #{currentUser.first_name}
        div.breaker
        span#users-online(style="margin-left: 10px") 
            strong #{online}
            |  people online
        div.breaker
        div#settings.nav-button

    div.nav-dropdown#settings-dropper.hidden
        ul
            strong
                li 
                    input(type="checkbox", checked="true", id="checkbox-sounds") 
                    | Chat sounds
                li Display picture
                a(href="/logout")
                    li Logout

div#sidebar
    div#social-buttons
        div.social-button
            div.fb-like(data-send="false", data-href="http://www.babblerchat.com", data-layout="button_count", data-width="80", data-show-faces="false", data-font="arial")
        div.social-button
            a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://www.babblerchat.com")
        div.social-button
            div.g-plusone(data-size="medium", data-href="http://www.babblerchat.com")

    h2 Random Partner
    hr
    ul
    p.empty-message When you're chatting to someone random, they will appear here.
    h2 Friends
    hr
    ul
    p.empty-message Your friends list is empty.

div#main

    div#jplayer-pop
    div#jplayer-easteregg
    div#message-update.large-messages
        h2 Loading, just a moment...
        br
        img(src='/images/loading_fb.gif', alt='Searching...')

    div#message-initial.large-messages.hidden
        h2 Hi #{currentUser.first_name}. Welcome to Babbler!
        br
        h2 Click 'New Partner' to get started. 

    div#chat-sessions-container

    script(id="template-chat-session", type="text/x-handlebars-template").
    
        <div id="partner-identity">
            <div id="img-container">
                <img id="picture" src="{{pic_large_url}}" />
            </div>
            <span>{{first_name}}</span>
            <span class="location">{{location}}</span>
        </div>

        <div id="chat-area-wrapper">
            <div id="chat-area">
                <div id="conversation-wrapper">
                    <div id="conversation">
                        <div class="message-spacer.no-border"></div>
                        <div id="conversation-actual"></div>
                        <div id="partner-typing" >
                            <div id="is-typing" style="display: none">
                                <div id="partner-typing-img"></div>
                                <span>{{first_name}} is typing...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <textarea id="text"></textarea>
            </div>
        </div>

    script(id="template-online-offline-bar", type="text/x-handlebars-template").

        <div class="online-status-bar">
            {{#if online_status}}
                <div class="online-light online"></div>
                <p>{{first_name}} is online.</p>
            {{else}}
                <div class="online-light"></div>
                <p>{{first_name}} is offline but you can still {{him_her}} messages.</p>
            {{/if}}
        </div>

    script(id="template-chat-message", type="text/x-handlebars-template").
    
        <div class="message-spacer"></div>
        <div class="message-group">
            <img src="{{picture}}" alt="">
            <div class="messages">
                <div class="message-single">{{body}}</div>
            </div>
        </div>
    
    script(id="template-friends-list", type="text/x-handlebars-template").

        <div class="left">
        <img src="{{picture}}" style="height: 46px; width: 46px">
        <div class="new-message-popper" style="display:none">0</div>
        </div>
        <div class="left">
            <p class="remove">Remove</p>
            <table>
                <tr><td><p class="name">{{first_name}}</p><div class="typing" style="display: none"></div></td></tr>
                <tr>
                    <td><p class="message">{{body}}</p></td>
                    {{#unless is_random}}
                        <td><div class="online-light {{online}}"></div></td>
                    {{/unless}}
                </tr>
                <tr><td><p class="date">{{date}}</p></td></tr>
            </table>
        </div>
    
    div#footer-container
        div#footer