div#blue-container
	div#clouds
		div#light
			div.container
				h2 Babbler
				div#section-left
					div#home-image
				div#section-right-top
					h3 Babbler lets you meet random people on Facebook.
					p.sub-title Find people near you or just connect with someone completely random. It’s free, and insanely addictive.
				div#section-right-bottom
					a#login-button(href="#") Login With Facebook
div#white-container
	div.container
